<!DOCTYPE html>
<html>

  <header>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="/templates/src/about.css">
    <style type="text/css">
      * {
        font-size: 100%;
        font-family: 'Ubuntu', sans-serif;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }

      h1{
        text-align: center
      }
    </style>
    
  </header>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/about">About</a>
    </div>
    <h1>About</h1>
    <br>
    <img
    src="/templates/src/grouppic.jpg" width="300">
    <p></p>
  </body>
</html>
