<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>
  <title>Travel Checklist</title>
  <link rel="stylesheet" href="C:\\Users\\jackd\\travel-checklist\\templates\\css\\checklist.css">
  <script src="javascript/index.js"></script>
</head>
<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <!-- Hide Search bar for now <input type="text" placeholder="Search Food...">-->
</div>

<div>
  <a href="/upload"><h3>+ ADD ITEMS</h3></a>
</div>

<div class="list">
  <h4>Your travel list contains:
    {{ list }}
  </h4>
</div>

</body>
<footer>
  <img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" width="28">
  <a href= "https://github.com/SavageCoder77/travel-checklist">Github</a>
  <br>
  <img src="https://www.hshacks.com/images/logo.png" width="25" height="25">
  <a href="https://www.hshacks.com/">HSHacks</a>
</footer>
