<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>

  <title>Travel Checklist</title>
  <link rel="stylesheet" type="text/css" href="src/index.css">
  <script src="script.js"></script>
  <script>
      function startAlert(){
          alert("This website requires cookies to function properly");
      }
      window.onload = startAlert;
  </script>

</head>
<body>
<div class="code-button">
    <a href="/yourchecklist">Your Checklist</a>
</div>
<div class="container">
    <h1>Hello</h1>
</div>​
</body>
<footer>
  <img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" width="28">
  <a href="https://github.com/SavageCoder77/travel-checklist">Github</a>
  <br>
  <img src="https://www.hshacks.com/images/logo.png" width="25" height="25">
  <a href="https://www.hshacks.com/">HSHacks</a>
</footer>
