<!--File for home page of app -->
<!DOCTYPE html>
<html>
<head>

  <title>Travel Checklist</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <!--<script>
      function startAlert(){
          alert("This website requires cookies to save your your travel list");
      }
      window.onload = startAlert;
  </script>-->

</head>
<body>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
</div>
<div class="code-button">
    <center><a id="check" href="/yourchecklist">Your Checklist</a></center>
</div>
<div class="container">
    <center><h1>Hello</h1></center>
</div>​
</body>
<footer>
  <center><a class='center' href="https://github.com/SavageCoder77/travel-checklist"><img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" width="28"></a></center>
</footer>
